{:paths ["."]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.11.4"}}
 :tasks {-target {:requires ([babashka.fs :as fs])
                  :task (when-not (fs/directory? "target")
                          (fs/create-dirs "target/public/posts"))}
         clean {:doc "Removes target."
                :requires ([babashka.fs :as fs])
                :task (fs/delete-tree "target")}
         resources {:doc "Copy all generic assets to `target`."
                    :requires ([babashka.fs :as fs])
                    :task (fs/copy-tree "resources/public"
                                        "target/public"
                                        {:replace-existing true
                                         :copy-attributes true})}
         index {:doc "Writes an index file with all given HTML content."
                :depends [-target]
                :task (exec 'scripts.render/write-index!)
                :exec-args {:content "content/index.edn"
                            :template "templates/index.html"
                            :target "target/public/index.html"}}
         post-list {:task (exec 'scripts.render/write!)
                    :exec-args {:outfile "target/public/posts/index.html"
                                :template "templates/post-list.html"
                                :data {}}}
         write-all-posts {:task (exec 'scripts.render/write-all-posts!)
                          :exec-args {:dir "content/posts"}}
         build {:doc "Full build of site."
                :depends [clean -target resources index write-all-posts post-list]}
         changes {:doc "Show what's changed between local and deployed site."
                  :depends [build]
                  :requires ([clojure.edn :as edn])
                  :task (let [{:keys [bucket]} (edn/read-string (slurp "resources/credentials.edn"))]
                          (shell (format "aws s3 sync target/public s3://%s --dryrun --exclude *.DS_Store"
                                         bucket)))}
         deploy {:doc "Builds and publishes the site online."
                 :depends [build]
                 :requires ([clojure.edn :as edn])
                 :task (let [{:keys [bucket dist]} (edn/read-string (slurp "resources/credentials.edn"))]
                         (shell (format "aws s3 sync target/public s3://%s --exclude *.DS_Store"
                                        bucket))
                         (shell (format "aws cloudfront create-invalidation --distribution-id %s --paths \"/*\""
                                        dist)))}}}
